.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.lightbox__close,
.lightbox__next,
.lightbox__prev {
    position: absolute;
    top: 20px;
    background: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

.lightbox__close {
    right: 20px;
}

.lightbox__next {
    right: 60px;
}

.lightbox__prev {
    left: 20px;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 564px;
    max-height: 495px;
}

/* Code CSS en prévision de l'ajout d'un carousel pour la bannière */
/* Gestion des fleches du carrousel */
#banner .arrow {
    position: absolute;
}

#banner .arrow_left {
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#banner .arrow_right {
    right: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Gestion des points du carrousel */
.dots {
    position: absolute;
    bottom: 40px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.dot {
    margin-inline: 5px;
    width: 13px;
    height: 13px;
    background-color: #ffffff00;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    ;
}

.dot_selected {
    background-color: #fff;
}

/* Fin du code CSS pour le carousel */
#banner p {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 66px;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#banner span {
    display: block;
    font-weight: 400;
    font-size: 30px;
}

#BoutonCloseLightBox {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20%;
    top: 10%;

    cursor: pointer;
}

#BoutonCloseLightBox span {
    width: 100%;
    height: 1px;
    background-color: #fff;
    display: block;
}

span.trait1 {
    transform: rotate(45deg);
}

span.trait2 {
    transform: rotate(-45deg);
}