/*
    ECRAN MAX 1439 PX
*/
@media all and (max-width: 1439px) {
  html .container .page-content .bloc-titre-image-accueil h1,
  body .container .page-content .bloc-titre-image-accueil h1 {
    font-size: 5.9em;
  }
  html .container #photo.photo .pagination .left-pagination,
  html .container #filtre .pagination .left-pagination,
  body .container #photo.photo .pagination .left-pagination,
  body .container #filtre .pagination .left-pagination {
    width: 40%;
    justify-content: center;
  }
  html .container #photo.photo .pagination .left-pagination p,
  html .container #filtre .pagination .left-pagination p,
  body .container #photo.photo .pagination .left-pagination p,
  body .container #filtre .pagination .left-pagination p {
    margin-bottom: 1em;
  }
  html .container #photo.photo .terms .terms-data,
  html .container #filtre .terms .terms-data,
  body .container #photo.photo .terms .terms-data,
  body .container #filtre .terms .terms-data {
    width: 40%;
  }
  html .container #photo.photo .tous-photos,
  html .container #filtre .tous-photos,
  body .container #photo.photo .tous-photos,
  body .container #filtre .tous-photos {
    justify-content: space-evenly;
  }
  html .container #photo.photo .tous-photos figure.flex-photo,
  html .container #filtre .tous-photos figure.flex-photo,
  body .container #photo.photo .tous-photos figure.flex-photo,
  body .container #filtre .tous-photos figure.flex-photo {
    width: 48%;
    height: 450px;
  }
  html .container footer .wrapper .footer-menu,
  body .container footer .wrapper .footer-menu {
    width: 100%;
  }
}
/*
    ECRAN MAX 1024 PX
*/
@media all and (max-width: 1024px) {
  html .container .header .wrapper,
  body .container .header .wrapper {
    width: 100%;
    padding: 0 1em;
  }
  html .container .page-content .bloc-titre-image-accueil h1,
  body .container .page-content .bloc-titre-image-accueil h1 {
    font-size: 4.5em;
  }
  html .container #photo.photo,
  html .container #filtre,
  body .container #photo.photo,
  body .container #filtre {
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
  }
  html .container #photo.photo .pagination,
  html .container #filtre .pagination,
  body .container #photo.photo .pagination,
  body .container #filtre .pagination {
    justify-content: center;
  }
  html .container #photo.photo .pagination .left-pagination,
  html .container #filtre .pagination .left-pagination,
  body .container #photo.photo .pagination .left-pagination,
  body .container #filtre .pagination .left-pagination {
    width: 40%;
    justify-content: center;
  }
  html .container #photo.photo .pagination .left-pagination p,
  html .container #filtre .pagination .left-pagination p,
  body .container #photo.photo .pagination .left-pagination p,
  body .container #filtre .pagination .left-pagination p {
    margin-bottom: 1em;
    font-size: 1.15em;
  }
  html .container #photo.photo .pagination .left-pagination button,
  html .container #filtre .pagination .left-pagination button,
  body .container #photo.photo .pagination .left-pagination button,
  body .container #filtre .pagination .left-pagination button {
    font-size: 1em;
  }
  html .container #photo.photo .pagination .right-pagination,
  html .container #filtre .pagination .right-pagination,
  body .container #photo.photo .pagination .right-pagination,
  body .container #filtre .pagination .right-pagination {
    justify-content: flex-end;
  }
  html .container #photo.photo .terms .terms-data,
  html .container #filtre .terms .terms-data,
  body .container #photo.photo .terms .terms-data,
  body .container #filtre .terms .terms-data {
    width: 40%;
  }
  html .container #photo.photo .terms .terms-photo,
  html .container #filtre .terms .terms-photo,
  body .container #photo.photo .terms .terms-photo,
  body .container #filtre .terms .terms-photo {
    margin: auto;
    margin-top: 2em;
  }
  html .container #photo.photo .tous-photos,
  html .container #filtre .tous-photos,
  body .container #photo.photo .tous-photos,
  body .container #filtre .tous-photos {
    justify-content: space-evenly;
  }
  html .container #photo.photo .tous-photos figure.flex-photo,
  html .container #filtre .tous-photos figure.flex-photo,
  body .container #photo.photo .tous-photos figure.flex-photo,
  body .container #filtre .tous-photos figure.flex-photo {
    width: 48.5%;
    height: 395px;
  }
  html .container footer .wrapper .footer-menu,
  body .container footer .wrapper .footer-menu {
    width: 100%;
  }
}
/*
    ECRAN MAX 1020 PX
*/
@media all and (max-width: 1020px) {
  html .container .header .wrapper,
  body .container .header .wrapper {
    width: 100%;
    padding: 0 1em;
  }
  html .container .page-content .bloc-titre-image-accueil h1,
  body .container .page-content .bloc-titre-image-accueil h1 {
    font-size: 4.5em;
  }
  html .container #photo.photo,
  html .container #filtre,
  body .container #photo.photo,
  body .container #filtre {
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
  }
  html .container #photo.photo .pagination,
  html .container #filtre .pagination,
  body .container #photo.photo .pagination,
  body .container #filtre .pagination {
    justify-content: center;
  }
  html .container #photo.photo .pagination .left-pagination,
  html .container #filtre .pagination .left-pagination,
  body .container #photo.photo .pagination .left-pagination,
  body .container #filtre .pagination .left-pagination {
    width: 40%;
    justify-content: center;
  }
  html .container #photo.photo .pagination .left-pagination p,
  html .container #filtre .pagination .left-pagination p,
  body .container #photo.photo .pagination .left-pagination p,
  body .container #filtre .pagination .left-pagination p {
    margin-bottom: 1em;
    font-size: 1.15em;
  }
  html .container #photo.photo .pagination .left-pagination button,
  html .container #filtre .pagination .left-pagination button,
  body .container #photo.photo .pagination .left-pagination button,
  body .container #filtre .pagination .left-pagination button {
    font-size: 1em;
  }
  html .container #photo.photo .pagination .right-pagination,
  html .container #filtre .pagination .right-pagination,
  body .container #photo.photo .pagination .right-pagination,
  body .container #filtre .pagination .right-pagination {
    justify-content: center;
  }
  html .container #photo.photo .pagination .right-pagination .photo-right-pagination,
  html .container #filtre .pagination .right-pagination .photo-right-pagination,
  body .container #photo.photo .pagination .right-pagination .photo-right-pagination,
  body .container #filtre .pagination .right-pagination .photo-right-pagination {
    width: 50%;
  }
  html .container #photo.photo .pagination .right-pagination .photo-right-pagination img,
  html .container #filtre .pagination .right-pagination .photo-right-pagination img,
  body .container #photo.photo .pagination .right-pagination .photo-right-pagination img,
  body .container #filtre .pagination .right-pagination .photo-right-pagination img {
    height: 75%;
  }
  html .container #photo.photo .pagination .right-pagination .photo-right-pagination figcaption,
  html .container #filtre .pagination .right-pagination .photo-right-pagination figcaption,
  body .container #photo.photo .pagination .right-pagination .photo-right-pagination figcaption,
  body .container #filtre .pagination .right-pagination .photo-right-pagination figcaption {
    margin-top: -1em;
    margin-bottom: 2em;
  }
  html .container #photo.photo .pagination .right-pagination .photo-right-pagination figcaption img,
  html .container #filtre .pagination .right-pagination .photo-right-pagination figcaption img,
  body .container #photo.photo .pagination .right-pagination .photo-right-pagination figcaption img,
  body .container #filtre .pagination .right-pagination .photo-right-pagination figcaption img {
    width: 30px;
    height: 20px;
  }
  html .container #photo.photo .terms .terms-data,
  html .container #filtre .terms .terms-data,
  body .container #photo.photo .terms .terms-data,
  body .container #filtre .terms .terms-data {
    width: 40%;
  }
  html .container #photo.photo .terms .terms-photo,
  html .container #filtre .terms .terms-photo,
  body .container #photo.photo .terms .terms-photo,
  body .container #filtre .terms .terms-photo {
    margin: auto;
    margin-top: 2em;
  }
  html .container #photo.photo .tous-photos,
  html .container #filtre .tous-photos,
  body .container #photo.photo .tous-photos,
  body .container #filtre .tous-photos {
    justify-content: space-evenly;
  }
  html .container #photo.photo .tous-photos figure.flex-photo,
  html .container #filtre .tous-photos figure.flex-photo,
  body .container #photo.photo .tous-photos figure.flex-photo,
  body .container #filtre .tous-photos figure.flex-photo {
    width: 48.5%;
    height: 395px;
  }
  html .container footer .wrapper .footer-menu,
  body .container footer .wrapper .footer-menu {
    width: 100%;
  }
}
/*
    ECRAN MAX 768 PX
*/
@media all and (max-width: 768px) {
  html .container .header,
  body .container .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  }
  html .container .header .wrapper,
  body .container .header .wrapper {
    width: 100%;
    padding: 0 3em;
  }
  html .container .header .wrapper .logo,
  body .container .header .wrapper .logo {
    width: 138px;
    height: auto;
  }
  html .container .header .wrapper .nav-menu .burger-bouton,
  body .container .header .wrapper .nav-menu .burger-bouton {
    background-color: transparent !important;
    border: none;
    width: 27.42px;
    height: 18.85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  html .container .header .wrapper .nav-menu .burger-bouton .burger-bouton-trait,
  body .container .header .wrapper .nav-menu .burger-bouton .burger-bouton-trait {
    width: 100%;
    height: 1px;
    background-color: black;
    display: block;
  }
  html .container .header .wrapper .nav-menu .burger-close,
  body .container .header .wrapper .nav-menu .burger-close {
    display: none;
    background-color: transparent !important;
    border: none;
    width: 27.42px;
    height: 18.85px;
  }
  html .container .header .wrapper .nav-menu .burger-close .burger-bouton-trait,
  body .container .header .wrapper .nav-menu .burger-close .burger-bouton-trait {
    width: 100%;
    height: 1px;
    background-color: black;
    display: block;
  }
  html .container .header .wrapper .nav-menu .burger-close .trait1,
  body .container .header .wrapper .nav-menu .burger-close .trait1 {
    transform: rotate(45deg) translateY(1px);
  }
  html .container .header .wrapper .nav-menu .burger-close .trait2,
  body .container .header .wrapper .nav-menu .burger-close .trait2 {
    transform: rotate(-45deg);
  }
  html .container .header .wrapper .nav-menu #menu-header,
  body .container .header .wrapper .nav-menu #menu-header {
    display: none;
    position: fixed;
    height: 100%;
    top: 160px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    z-index: 120;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  html .container .header .wrapper .nav-menu #menu-header .sous-menu,
  body .container .header .wrapper .nav-menu #menu-header .sous-menu {
    margin-bottom: 1.5em;
  }
  html .container .header .wrapper .nav-menu #menu-header .sous-menu .sous-menu-link,
  body .container .header .wrapper .nav-menu #menu-header .sous-menu .sous-menu-link {
    color: white;
    font-family: "Space-Mono-Regular";
    font-weight: 400;
    font-size: 44px;
    line-height: 65.16px;
  }
  html .container .page-content,
  body .container .page-content {
    padding: 80px 0 0 0 !important;
  }
  html .container .page-content .bloc-titre-image-accueil h1,
  body .container .page-content .bloc-titre-image-accueil h1 {
    font-size: 4.5em;
  }
  html .container #photo.photo,
  html .container #filtre,
  body .container #photo.photo,
  body .container #filtre {
    width: 100%;
    padding-right: 3em;
    padding-left: 3em;
  }
  html .container #photo.photo .terms,
  html .container #filtre .terms,
  body .container #photo.photo .terms,
  body .container #filtre .terms {
    padding: 80px 0 0 0 !important;
  }
  html .container #photo.photo .categorie form,
  html .container #filtre .categorie form,
  body .container #photo.photo .categorie form,
  body .container #filtre .categorie form {
    flex-wrap: wrap;
  }
  html .container #photo.photo .categorie form select.select-categorie,
  html .container #filtre .categorie form select.select-categorie,
  body .container #photo.photo .categorie form select.select-categorie,
  body .container #filtre .categorie form select.select-categorie {
    margin: 0 auto;
    margin-bottom: 5px;
    min-height: 43px;
    min-width: 270px;
    width: 100%;
    max-width: 85%;
    font-size: 1em;
  }
  html .container #photo.photo .tous-photos,
  html .container #filtre .tous-photos,
  body .container #photo.photo .tous-photos,
  body .container #filtre .tous-photos {
    justify-content: space-evenly;
  }
  html .container #photo.photo .tous-photos .bouton,
  html .container #filtre .tous-photos .bouton,
  body .container #photo.photo .tous-photos .bouton,
  body .container #filtre .tous-photos .bouton {
    font-size: 1em;
  }
  html .container #photo.photo .tous-photos figure.flex-photo,
  html .container #filtre .tous-photos figure.flex-photo,
  body .container #photo.photo .tous-photos figure.flex-photo,
  body .container #filtre .tous-photos figure.flex-photo {
    min-width: 317px;
    width: 100%;
    min-height: 278px;
    max-height: 485px;
    height: 100%;
  }
  html .container footer,
  body .container footer {
    height: auto;
    padding: 2em 0;
  }
  html .container footer .wrapper .footer-menu,
  body .container footer .wrapper .footer-menu {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  html .container footer .wrapper .footer-menu .sous-menu,
  body .container footer .wrapper .footer-menu .sous-menu {
    margin: 2em;
  }
  html .container footer .wrapper .footer-menu .sous-menu .sous-menu-link,
  body .container footer .wrapper .footer-menu .sous-menu .sous-menu-link {
    font-size: 2em;
    margin-bottom: 1em;
  }
}
/*
    ECRAN MAX 375 PX
*/
@media all and (max-width: 767px) {
  html .container .header,
  body .container .header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  }
  html .container .header .wrapper,
  body .container .header .wrapper {
    width: 100%;
    padding: 0 3em;
  }
  html .container .page-content .bloc-image-accueil,
  body .container .page-content .bloc-image-accueil {
    height: 253px;
  }
  html .container .page-content .bloc-titre-image-accueil h1,
  body .container .page-content .bloc-titre-image-accueil h1 {
    font-size: 2em;
  }
  html .container #photo.photo,
  html .container #filtre,
  body .container #photo.photo,
  body .container #filtre {
    width: 100%;
    padding-right: 3em;
    padding-left: 3em;
  }
  html .container #photo.photo .terms,
  html .container #filtre .terms,
  body .container #photo.photo .terms,
  body .container #filtre .terms {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  html .container #photo.photo .terms .terms-data,
  html .container #filtre .terms .terms-data,
  body .container #photo.photo .terms .terms-data,
  body .container #filtre .terms .terms-data {
    width: 265px;
    margin: 2em 0;
    border: none;
  }
  html .container #photo.photo .terms .terms-data .terms-data-bas h1,
  html .container #filtre .terms .terms-data .terms-data-bas h1,
  body .container #photo.photo .terms .terms-data .terms-data-bas h1,
  body .container #filtre .terms .terms-data .terms-data-bas h1 {
    font-size: 46px;
  }
  html .container #photo.photo .terms .terms-data .terms-data-bas p,
  html .container #filtre .terms .terms-data .terms-data-bas p,
  body .container #photo.photo .terms .terms-data .terms-data-bas p,
  body .container #filtre .terms .terms-data .terms-data-bas p {
    font-family: "Space-Mono-Regular";
    font-weight: 400;
  }
  html .container #photo.photo .terms .terms-photo,
  html .container #filtre .terms .terms-photo,
  body .container #photo.photo .terms .terms-photo,
  body .container #filtre .terms .terms-photo {
    max-width: 265px;
    max-height: 397px;
    width: 100%;
    height: 100%;
  }
  html .container #photo.photo .pagination,
  html .container #filtre .pagination,
  body .container #photo.photo .pagination,
  body .container #filtre .pagination {
    border-top: 1px solid black;
  }
  html .container #photo.photo .pagination .left-pagination,
  html .container #filtre .pagination .left-pagination,
  body .container #photo.photo .pagination .left-pagination,
  body .container #filtre .pagination .left-pagination {
    width: 100%;
  }
  html .container #photo.photo .pagination .right-pagination,
  html .container #filtre .pagination .right-pagination,
  body .container #photo.photo .pagination .right-pagination,
  body .container #filtre .pagination .right-pagination {
    display: none;
  }
  html .container #photo.photo .categorie,
  html .container #filtre .categorie,
  body .container #photo.photo .categorie,
  body .container #filtre .categorie {
    padding-top: 2em;
  }
  html .container #photo.photo .categorie form,
  html .container #filtre .categorie form,
  body .container #photo.photo .categorie form,
  body .container #filtre .categorie form {
    flex-wrap: wrap;
  }
  html .container #photo.photo .categorie form select.select-categorie,
  html .container #filtre .categorie form select.select-categorie,
  body .container #photo.photo .categorie form select.select-categorie,
  body .container #filtre .categorie form select.select-categorie {
    margin: 0 auto;
    margin-bottom: 5px;
    min-height: 43px;
    min-width: 270px;
    width: 100%;
    max-width: 85%;
    font-size: 1em;
  }
  html .container #photo.photo .tous-photos,
  html .container #filtre .tous-photos,
  body .container #photo.photo .tous-photos,
  body .container #filtre .tous-photos {
    justify-content: center;
  }
  html .container #photo.photo .tous-photos figure.flex-photo,
  html .container #filtre .tous-photos figure.flex-photo,
  body .container #photo.photo .tous-photos figure.flex-photo,
  body .container #filtre .tous-photos figure.flex-photo {
    width: 317.66px;
    height: 278.8px;
  }
  html .container #photo.photo .vous-aimerez-aussi,
  html .container #filtre .vous-aimerez-aussi,
  body .container #photo.photo .vous-aimerez-aussi,
  body .container #filtre .vous-aimerez-aussi {
    text-align: center;
  }
  html .container footer,
  body .container footer {
    height: auto;
    padding: 2em 0;
  }
  html .container footer .wrapper .footer-menu,
  body .container footer .wrapper .footer-menu {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  html .container footer .wrapper .footer-menu .sous-menu,
  body .container footer .wrapper .footer-menu .sous-menu {
    margin: 1em;
  }
  html .container footer .wrapper .footer-menu .sous-menu .sous-menu-link,
  body .container footer .wrapper .footer-menu .sous-menu .sous-menu-link {
    font-size: 1em;
  }
}/*# sourceMappingURL=media.css.map */